.transaction {
    display: none;
}

.displayBlock {
    display: block;
}

#container {
    display: flex;
    justify-content: space-between;
}

/* left panel */

#leftPanel {
    color: rgb(61, 61, 61);
    font-size: 0.8rem;
    width: 20%;
    height: 100vh;
    background: rgb(216, 216, 216);
}

.leftPanelHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

/* main */
#mainMapBodySearch {
    margin-top: 5%;
    padding: 15px;
    padding-right: 300px;
    border: none;
    background: rgb(235, 235, 235);
    border-radius: 5px;
}


/* right panel */
#rightPanel {
    color: rgb(61, 61, 61);
    font-size: 0.8rem;
    width: 20%;
    height: 100vh;
    background: rgb(216, 216, 216);
}

.RightPanelHeading {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#leftPanel {
    padding: 1rem;
}